<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../public/styles/main.css">
        <link rel="stylesheet" href="../../public/styles/allGenders.css">
        <title>Todos os gêneros</title>
    </head>

    <body>
      
        <div class="main-title">
            <a href="/"><i class = "material-icons">equalizer</i>LazzFly</a>
        </div>

        <div class="landing">
            <h1>Escolha seu gênero favorito!</h1>
        </div>

        <div class="main-container">
            <div class="card">
                <a href="">
                    <h5>Rock</h5>     
                    <div class="card-content">
                        <img src="../../public/assets/rock'nroll.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <h5>Eletrônica</h5>     
                    <div class="card-content">
                        <img src="../../public/assets/electronic.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <h5>Country</h5>     
                    <div class="card-content">
                        <img src="../../public/assets/country.jpg" alt="">
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <h5>Hip-Hop</h5>     
                    <div class="card-content">
                        <img src="../../public/assets/hiphop.png" alt="">
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <h5>Lo-Fi</h5>     
                    <div class="card-content">
                        <img src="../../public/assets/lo-fi.png" alt="">
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="">
                    <h5>Classics</h5>     
                    <div class="card-content">
                        <img src="../../public/assets/vintage.png" alt="">
                    </div>
                </a>
            </div>

        </div>
        
    </body>

</html>