<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../public/styles/main.css">
        <title>Todos os gêneros</title>
    </head>

    <body>
      
        <div class="main-title">
            <a href="/"><i class = "material-icons">equalizer</i>LazzFly</a>
        </div>

        <div class="landing">
            <h1>Escolha seu gênero favorito!</h1>
        </div>

    </body>

</html>