<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/styles/main.css">
        <link rel="stylesheet" href="../../public/styles/playlistsPageStyles.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap" rel="stylesheet">
        <title>Suas Playlists</title>
    </head>
    <body>

        <div class="main-title">
            <a href="/"><i class = "material-icons">equalizer</i>LazzFly</a>
         </div>

         <div class="landing">
            <h1>Escolha sua melhor playlist</h1>
         </div>
         <div class="main-container">

             <div class="main-cards-playlist">
                 <ul class="user-playlist">
                        <h5>Playlist</h5>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                    </ul>
                    <ul class="user-playlist">
                        <h5>Playlist</h5>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                    </ul>
                    <ul class="user-playlist">
                        <h5>Playlist</h5>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                        <li><a href="">music</a></li>
                    </ul>
             </div>
             <div class="second-cards-playlist">
                <ul class="user-playlist">
                    <h5>Playlist</h5>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                </ul>
                <ul class="user-playlist">
                    <h5>Playlist</h5>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                </ul>
                <ul class="user-playlist">
                    <h5>Playlist</h5>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                    <li><a href="">music</a></li>
                </ul>
         </div>
         </div>

         <div class="page-footer">
            <footer>
                <h5>LazzFly AudioPlayer - All Rights Reserved</h5>
            </footer>
        </div>
    </body>
</html>