<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/styles/main.css">
        <link rel="stylesheet" href="../../public/styles/playlistsPageStyles.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap" rel="stylesheet">
        <title>Suas Playlists</title>
    </head>
    <body>

        <div class="main-title">
            <a href="/"><i class = "material-icons">equalizer</i>LazzFly</a>
         </div>

         <div class="landing">
            <h1>Escolha sua melhor playlist</h1>
         </div>
         <div class="main-container">

             <div class="main-cards-playlist">
                 <ul class="user-playlist">
                        <h5 id="playlistOneName">Playlist</h5>
                        <li><a href="" class="user-playlist-one" listId= '1'>music</a></li>
                        <li><a href="" class="user-playlist-one" listId= '2'>music</a></li>
                        <li><a href="" class="user-playlist-one" listId= '3'>music</a></li>
                        <li><a href="" class="user-playlist-one" listId= '4'>music</a></li>
                        <li><a href="" class="user-playlist-one" listId= '5'>music</a></li>
                    </ul>
                 <ul class="user-playlist">
                    <h5 id="playlistTwoName">Playlist</h5>
                    <li><a href="" class="user-playlist-two" listId='1'>music</a></li>
                    <li><a href="" class="user-playlist-two" listId='2'>music</a></li>
                    <li><a href="" class="user-playlist-two" listId='3'>music</a></li>
                    <li><a href="" class="user-playlist-two" listId='4'>music</a></li>
                    <li><a href="" class="user-playlist-two" listId='5'>music</a></li>
                </ul>
             </div>
             <div class="second-cards-playlist">
                <ul class="user-playlist">
                    <h5 id="playlistThreeTitle">Playlist</h5>
                    <li><a href="" class="user-playlist-three" listId= '1'>music</a></li>
                    <li><a href="" class="user-playlist-three" listId= '2'>music</a></li>
                    <li><a href="" class="user-playlist-three" listId= '3'>music</a></li>
                    <li><a href="" class="user-playlist-three" listId= '4' >music</a></li>
                    <li><a href="" class="user-playlist-three" listId= '5'>music</a></li>
                </ul>
                <ul class="user-playlist">
                    <h5 id="playlistFourTitle">Playlist</h5>
                    <li><a href="" class="user-playlist-four" listId = '1'>music</a></li>
                    <li><a href="" class="user-playlist-four" listId = '2'>music</a></li>
                    <li><a href="" class="user-playlist-four" listId = '3'>music</a></li>
                    <li><a href="" class="user-playlist-four" listId = '4'>music</a></li>
                    <li><a href="" class="user-playlist-four" listId = '5'>music</a></li>
                </ul>
         </div>
         </div>

         <div class="page-footer">
            <footer>
                <h5>LazzFly AudioPlayer - All Rights Reserved</h5>
            </footer>
        </div>
        <script src="../../public/scripts/userPlaylists.js"></script>
    </body>
</html>