
/*Início da estilização do menu*/


#main-menu {
    width: 1200px;
    margin-top: 40px;
    background: none;
    box-shadow: none;
    margin-left: 30px;
}

#main-menu ul {
    padding:0px;
    margin:0px;
    background:none;
    list-style:none;
}

#main-menu ul li i{ display: inline; }

#main-menu ul li a {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    background-color:rgba(255, 255, 255, 0.575);
    color: rgb(26, 22, 22);
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    border-top:3px solid #ededed;
    transition: 400ms;
    border-radius: 20px;
    font-family: 'Ubuntu';
    margin-right: 5px;
    margin-left: 5px;
}

#main-menu ul li a:hover {
    background-color:#3d3b3b;
    color: #ffffff;
    border-bottom:3px solid #2e2b3f;
}

#main-menu i {
    font-size: 28px;
}

#search-button {
    padding-top: 4.5px;
    padding-bottom: 17px;
    margin-left: -4px;
    transform: translateY(-3px);
    width: 120px;
    background-color: rgba(255, 255, 255, 0.575);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #EDEDED;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
    transition: 600ms;
    color: black;
    font-size: 28px;
    font-weight: bold;
}

#search-button:hover {
    background-color:#3d3b3b;
    color:#fff ;
}

#music-search {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.575);
    max-width: 380px;
    padding: 4.5px;
    border-bottom: 3px solid #EDEDED;
    margin-top: 20px;
    margin-left: 370px;
    font-family: 'Ubuntu';
    color: rgba(31, 30, 31, 0.867);
}

/* Fim da estilização do Menu */

/* Começo da estilização do top 5 mais tocadas*/

#top-lists-container {
    margin-left: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-gap: 320px;
    max-width: 80vw;
    margin-top: 50px;
}

.top-music-list {
    margin-top: 20px;
    padding: 20px;
    background-color: #595876d0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.521);
    border-top: 10px solid rgba(0, 0, 0, 0.521);
    border-left: 10px solid rgba(36, 7, 104, 0.521);
    border-right: 10px solid rgba(36, 7, 104, 0.521);
    border-radius: 20px;
}

.top-music-list ul li {
    padding: 5px;
    border-bottom: 2px solid rgba(22, 22, 22, 0.589);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-music-list ul li:hover {
    background-color: rgba(252, 251, 251, 0.199);
}

.top-music-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: 'Ubuntu';
    font-weight: 500;
    color: #EDEDED;
}

.top-music-list a:hover {
    color:#1f1d1d ;
    border-radius: 10px;
}

.top-music-list h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Ubuntu';
    color: #1f1d1d;
    font-weight: bold;
    border: 5px dotted rgba(0, 0, 0, 0.158);
}

/* Fim estilização 5 mais tocadas*/

/*Começo estilização bandas mais tocadas*/

.top-bands-list {
    margin-top: 20px;
    padding: 20px;
    background-color: #595876d0;
    margin-left: 10px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.521);
    border-top: 10px solid rgba(0, 0, 0, 0.521);
    border-left: 10px solid rgba(36, 7, 104, 0.521);
    border-right: 10px solid rgba(36, 7, 104, 0.521);
    border-radius: 20px;
}

.top-bands-list ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom: 2px solid rgba(22, 22, 22, 0.589);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-bands-list ul li:hover {
    background-color: rgba(252, 251, 251, 0.671);
}

.top-bands-list a {
    font-family: 'Ubuntu';
    font-size: 22px;
    color: #EDEDED;
}

.top-bands-list a:hover {
    color:#1f1d1d ;
    border-radius: 10px;
}

.top-bands-list h5 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #1f1d1d;
    border: 5px dotted rgba(0, 0, 0, 0.158);
}

/* Fim estilização top bandas*/

/* Começo estilização footer */
