

/* Começo da estilização do titulo */

.main-title {
    display: flex;
    max-height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 53, 54, 0.527);
    padding: 20px;
    border-bottom: 20px solid rgba(0, 0, 0, 0.521);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.main-title a {
    font-weight: bold;
    font-family: 'Rowdies', cursive;
    font-style: none;
    font-size: 68px;
    color: rgb(226, 214, 214);
    text-decoration: none;
    transition: 800ms;
}

.main-title a:hover {
    color: rgba(77, 6, 71, 0.432);
}

.main-title i {
    font-size: 48px;
}

/*Fim da estilização do titulo*/

/*Início da estilização do menu*/

#main-menu {
    margin-top: 10px;
    background: none;
    box-shadow: none;
}

#main-menu ul {
    padding:0px;
    margin:0px;
    background-color:#8f89892a;
    list-style:none;
}

#main-menu ul li i{ display: inline; }

#main-menu ul li a {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    background-color:#4a4880d0;
    color: rgb(236, 233, 233);
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    border-top:3px solid #ededed;
    transition: 400ms;
    border-radius: 20px;
    font-family: 'Ubuntu';
    margin-right: 5px;
    margin-left: 5px;
}

#main-menu ul li a:hover {
    background-color:#D6D6D6;
    color: #1f1d1d;
    border-bottom:3px solid #2e2b3f;
}

#main-menu i {
    display: inline;
    font-size: 28px;
    /* padding: 10px; */
}

#search-button {
    padding-top: 10.4px;
    padding-bottom: 20.9px;
    margin-left: -4px;
    transform: translateY(-3px);
    width: 120px;
    background-color: #4a4880d0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #EDEDED;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
    transition: 600ms;
    color: rgb(236, 233, 233);
    font-size: 28px;
    font-weight: bold;
}

#search-button:hover {
    background-color: #D6D6D6;
    color:#1f1d1d ;
}

#music-search {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 22px;
    flex-direction: column;
    background-color: #4a4880d0;
    max-width: 405px;
    padding: 9.5px;
    border-bottom: 3px solid #EDEDED;
    margin-left: 50px;
    font-family: 'Ubuntu';
    color: #eded;
}

/* Fim da estilização do Menu */

/* Começo da estilização do top 5 mais tocadas*/

.top-music-list {
    grid-area: top-bandas;
    margin-top: 110px;
    max-width: 450px;
    padding: 20px;
    background-color: #595876d0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.521);
    border-top: 10px solid rgba(0, 0, 0, 0.521);
    border-left: 10px solid rgba(36, 7, 104, 0.521);
    border-right: 10px solid rgba(36, 7, 104, 0.521);
    border-radius: 20px;
    margin-left: 10px;
}

.top-music-list ul li {
    padding: 5px;
    border-bottom: 2px solid rgba(22, 22, 22, 0.589);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-music-list ul li:hover {
    background-color: rgba(252, 251, 251, 0.199);
}

.top-music-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: 'Ubuntu';
    font-weight: 500;
    color: #EDEDED;
}

.top-music-list a:hover {
    color:#1f1d1d ;
    border-radius: 10px;
}

.top-music-list h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Ubuntu';
    color: #1f1d1d;
    font-weight: bold;
    border: 5px dotted rgba(0, 0, 0, 0.158);
}

/* Fim estilização 5 mais tocadas*/

/*Começo estilização bandas mais tocadas*/

.top-bands-list {
    margin-top: 20px;
    padding: 20px;
    background-color: #595876d0;
    max-width: 450px;
    margin-left: 10px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.521);
    border-top: 10px solid rgba(0, 0, 0, 0.521);
    border-left: 10px solid rgba(36, 7, 104, 0.521);
    border-right: 10px solid rgba(36, 7, 104, 0.521);
    border-radius: 20px;
}

.top-bands-list ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom: 2px solid rgba(22, 22, 22, 0.589);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-bands-list ul li:hover {
    background-color: rgba(252, 251, 251, 0.671);
}

.top-bands-list a {
    font-family: 'Ubuntu';
    font-size: 22px;
    color: #EDEDED;
}

.top-bands-list a:hover {
    color:#1f1d1d ;
    border-radius: 10px;
}

.top-bands-list h5 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #1f1d1d;
    border: 5px dotted rgba(0, 0, 0, 0.158);
}

/* Fim estilização top bandas*/

/* Começo estilização footer */
.page-footer {
    background-color: rgba(51, 53, 54, 0.527);
    box-sizing: 20px;
    padding: 5px;
    border-top: 5px solid rgba(0, 0, 0, 0.521);
    margin-top: 10vh;
}

.page-footer h5 {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Ubuntu';
    font-weight: bold;
    opacity: 0.6;
    color: rgb(255, 255, 255);
}