@import 'https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css';
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(124,129,172);
    background: linear-gradient(280deg, rgba(124,129,172,1) 13%, rgba(166,135,250,1) 57%, rgba(0,212,255,1) 100%); 
}