h4 {
    color: #dfd4d3;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

p {
    font-size: 20px;
    color: #443f3f;
    font-family: 'Ubuntu';
}

#player {
    grid-area: musiclist;
    background: #141442;
    width: 70%;
    max-width: 350px;
    box-shadow: 70px 25px 500px 55px rgba(24, 87, 58, 0.5);
    margin-top: -200px;
    margin-left: 20px;
    border-radius: 20px;
}

#vol {
    color: #141442;
    transform: translateY(2px);
}

#current-duration, #total-duration {
    font-size: 17px;
    margin-right: 10px;
    margin-bottom: 2px;
    color: #333232;
    font-weight: bold;
}

#skip-buttons {
    cursor: pointer;
    display: inline-block;
    padding-left: 80px;
    -moz-user-select: none;
}


#skip-next, #skip-previous, #play-pause {
    font-size: 48px;
    color: #141442;
    transition: 400ms;
}


#skip-next:hover, #skip-previous:hover, #play-pause:hover {
    color: rgba(116, 115, 115, 0.705);
}

.card {
    box-shadow: none;
    margin: 0;
    color: #0d0d0e;
}

.row {
    margin-top: 20px;
}

.card-content {
    background-color: #e7e7e7;
    font-family: 'Ubuntu';
    border-bottom: 5px solid rgba(0, 0, 0, 0.521);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.card .card-content {
    padding: 15px;
}
.card-content h5 {
    font-size: 28px;
    font-weight: bold;
    color: #333232;
}

.card-image {
    background: url("https://placehold.it/500") no-repeat center center / cover;
    height: 200px;
}

input#vol-mixer {
    padding-top: 5px;
}

input[type = "range"] {
    border: none;
    transform: translateY(3px);
}
input[type = "range"]::-moz-range-thumb {
    background-color: #141442;
}