
.main-container {
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header" "musiclist player";
}

.main-title {
    display: flex;
    grid-area: header;
    max-height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 53, 54, 0.527);
    padding: 20px;
    border-bottom: 20px solid rgba(0, 0, 0, 0.521);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.main-title a {
    font-weight: bold;
    font-family: 'Rowdies', cursive;
    font-style: none;
    font-size: 68px;
    color: rgb(226, 214, 214);
    text-decoration: none;
    transition: 800ms;
}

.main-title a:hover {
    opacity: 0.3;
}

.main-title i {
    font-size: 48px;
}

.music-list {
    transform: translateX(250px);
    grid-area: player;
    margin-top: -200px;
    background-color: rgba(51, 53, 54, 0.527);;
    max-width: 350px;
    height: 455px;
    border-bottom: 15px solid rgba(0, 0, 0, 0.521);
    border-top: 15px solid rgba(0, 0, 0, 0.521);
    border-right: 10px solid #18033852;
    border-left: 10px solid #18033852;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.music-list ul li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-bottom: 2px solid #18033852;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 400ms;
}

.music-list a {
    font-family: 'Ubuntu';
    font-size: 24px;
    color: #ededed;
    text-decoration: none;
    transition: 400ms;
    font-weight: 500;
}

.music-list a:hover {
    color: rgb(31, 30, 29);
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 10px 0px 10px 0px;
}

.music-list i {
    font-size: 30px;
    color: #ededed;
}

.music-list h5 {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    font-size: 22px;
    font-weight: bold;
    color: rgba(17, 16, 17, 0.767);
    border-bottom: 10px double #18033852;
    border-top: 10px double #18033852;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

